# Section 121

## Imports

In [4]:
import pandas as pd
from geopy.geocoders import ArcGIS

In [31]:
df = pd.read_csv("files/data.csv", header=None)
df.columns = ["ID", "address", "city", "state-zip", "country", "name", "employees"]
df.set_index("ID", inplace=True)
df

,address,city,state-zip,country,name,employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [5]:
nom = ArcGIS()

In [14]:
n = nom.geocode("4720 Durney St, New Port Richey, FL 34652")
print(f"{n}\nlat: {n.latitude}\nlong: {n.longitude}")

4720 Durney St, New Port Richey, Florida, 34652
lat: 28.227805019462394
long: -82.71650403864518

In [15]:
nom.geocode("4720 Durney St, New Port Richey, FL 34652")

Location(4720 Durney St, New Port Richey, Florida, 34652, (28.227805019462394, -82.71650403864518, 0.0))

In [30]:
df

,address,city,state-zip,country,name,employees,coordinates,lat,long
ID,,,,,,,,,
1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...",37.756648,-122.429375
2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...",37.757819,-122.425337
3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...",37.755875,-122.428816
4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...",37.752922,-122.431697
5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...",37.752131,-122.430028
6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...",37.753511,-122.433229

In [40]:
df["coords"] = ((df["address"] + ", " + df["city"] + ", " + df["state-zip"] + ", " + df["country"]).apply(nom.geocode))
df["lat"] = df["coords"].apply(lambda x: x.latitude)
df["long"] = df["coords"].apply(lambda x: x.longitude)
del df["coords"]
df

,address,city,state-zip,country,name,employees,lat,long
ID,,,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,37.756648,-122.429375
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,37.757819,-122.425337
3,332 Hill St,San Francisco,California 94114,USA,Super River,25,37.755875,-122.428816
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,37.752922,-122.431697
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,37.752131,-122.430028
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,37.753511,-122.433229